@page
@model WebClient.Pages.Operations.IndexModel
@{
}
<h2>Possible operations</h2>

<ul>
    
            <a asp-page="/Operations/PlaceOrder" class="btn btn-sm btn-primary">Place Order</a>
            <a asp-page="/Operations/ReceiveShipment" class="btn btn-sm btn-primary">ReceiveShipment</a>
            <a asp-page="/Operations/Transfer" class="btn btn-sm btn-primary">Transfer between warehouses</a>
    
</ul>