@page
@model WebClient.Pages.Operations.ReceiveShipmentModel
@{
}
<h2>Receive Shipment</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Shipment.ProductId" class="control-label">Product ID</label>
        <input asp-for="Shipment.ProductId" class="form-control" />
        <span asp-validation-for="Shipment.ProductId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Shipment.WarehouseId" class="control-label">Warehouse ID</label>
        <input asp-for="Shipment.WarehouseId" class="form-control" />
        <span asp-validation-for="Shipment.WarehouseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Shipment.Quantity" class="control-label">Quantity</label>
        <input asp-for="Shipment.Quantity" class="form-control" />
        <span asp-validation-for="Shipment.Quantity" class="text-danger"></span>
    </div>
    <input type="submit" value="Receive Shipment" class="btn btn-success" />
</form>